@import "../../vars";

.collapsible {
  margin-bottom: 20px;
  border: 1px solid rgba(0,0,0,0.3);
  border-radius: 3px;
  box-shadow: 0 0 0 rgba(0,0,0,0);
  transition-duration: .3s;
  &:hover {
    box-shadow: 0 2px 6px rgba(0,0,0,0.3);
  }
  .collapsible-header {
    padding: 10px;
    cursor: pointer;
    &::ng-deep p {
      margin-bottom: 0;
    }
    .uid {
      margin: 4px 0 8px 0;
      font-size: 12px;
      font-weight: bolder;
      opacity: 0.4;
    }
    .avatar {
      height: 100px;
      width: 100px;
      object-fit: cover;
      padding: 20px;
      border: 1px solid $accent;
      border-radius: 3px;
      opacity: .3;
      transition-duration: .3s;
      margin-right: 20px;
      &.loaded {
        padding: 0;
        opacity: 1;
        border: 1px solid transparent;
      }
      &.failed {
        padding: 40px;
        border-color: $text;
      }
    }
  }
  .collapsible-body {
    padding: 10px 10px 10px;
    border-top: 1px solid rgba(0,0,0,0.3);
    background-color: rgba(0,0,0,0.05);
    transition-duration: .3s;
    height: 0;
    overflow: hidden;
    .row {
      margin: 0;
    }
    h3 {
      margin-bottom: 8px;
    }
    &.collapsed {
      padding: 0 10px;
    }
    .edit-button {
      padding: 4px 10px;
      border: 3px solid $accent;
      border-radius: 3px;
      background-color: $accent;
      color: white;
    }
    .delete-button {
      position: relative;
      padding: 4px 10px;
      border: 2px solid $accent;
      border-radius: 3px;
      background-color: transparent;
      color: lightcoral;
      transition-duration: .3s;
      &.confirm {
        background-color: $accent;
        color: white;
      }
    }
  }
}

