<div *ngIf="auth.user | async as user; else showLogin" class="d-flex justify-content-end">
  <div class="d-flex justify-content-end">
    <div class="align-self-center">Willkommen zurück {{ user.displayName }}!</div>
    <button class="btn btn-register" (click)="logout()">Logout</button>
  </div>
</div>
<ng-template #showLogin>
  <div class="d-flex justify-content-end">
    <form id="login-form">
      <input #mail type="email" placeholder="E-Mail">
      <input #password type="password" placeholder="Passwort">
      <button class="btn btn-login" (click)="login(mail.value, password.value)">Login</button>
      <button class="btn btn-register" (click)="toggleRegister()">Register</button>
    </form>
  </div>
</ng-template>
<div *ngIf="showRegister" [@inOutAnimation] class="register">
  <h3>Registrieren</h3>
  <input #newMail type="email" placeholder="E-Mail">
  <input #newPassword type="password" placeholder="Passwort (min. 6 Zeichen)">
  <input #key type="text" placeholder="Registrierungsschlüssel">
  <button class="btn btn-register d-block" (click)="register(newMail, newPassword, key)">Register</button>
</div>
