<button class="btn btn-login background-white" (click)="toggleCharCreation()">Charakter erstellen</button>

<section class="character-creation abs-center-vx" *ngIf="!isHidden" [@inOutAnimation]>
  <div class="row">
    <div class="col-12 d-flex justify-content-between">
      <h1>Charaktererstellung</h1>
      <button class="btn btn-close justify-self-end align-self-start" (click)="toggleCharCreation()"><fa-icon [icon]="closeTimes"></fa-icon></button>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-sm-6">
      <input #forename name="forename" class="background-white" placeholder="Vorname">
    </div>
    <div class="col-12 col-sm-6">
      <input #surname name="surname" class="required background-white" placeholder="Nachname">
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-sm-6">
      <input #age name="age" placeholder="Alter" class="background-white">
    </div>
    <div class="col-12 col-sm-6">
      <input #job name="jobs" placeholder="Berufungen" class="background-white">
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <textarea #appearance name="appearance" placeholder="Äußerliche Erscheinung" class="background-white"></textarea>
    </div>
    <div class="col-12">
      <textarea #characteristics name="characteristics" placeholder="Charakterliches Verhalten" class="background-white"></textarea>
    </div>
  </div>
  <button class="btn btn-register" (click)="create(forename, surname, age, job, appearance, characteristics)">Erstellen</button>
</section>
