<button class="btn btn-login background-white" (click)="charCreation.toggleCharacterDialogue()">Charakter erstellen</button>

<section class="character-creation abs-center-vx" *ngIf="isVisible" [@inOutAnimation]>
  <div class="row">
    <div class="col-12 d-flex justify-content-between">
      <h1>Charaktererstellung</h1>
      <button class="btn btn-close justify-self-end align-self-start" (click)="charCreation.toggleCharacterDialogue()"><fa-icon [icon]="closeTimes"></fa-icon></button>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-sm-6">
      <input #forename name="forename"
             class="background-white"
             placeholder="Vorname"
             [value]="charCreationData?.forename ? charCreationData.forename : ''">
    </div>
    <div class="col-12 col-sm-6">
      <input #surname name="surname"
             class="required background-white"
             placeholder="Nachname"
             [value]="charCreationData?.surname ? charCreationData.surname : ''">
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-sm-6">
      <input #age name="age"
             placeholder="Alter"
             class="background-white"
             [value]="charCreationData?.age ? charCreationData.age : ''">
    </div>
    <div class="col-12 col-sm-6">
      <input #job name="jobs"
             placeholder="Berufungen"
             class="background-white"
             [value]="charCreationData?.jobs ? charCreationData.jobs : ''">
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <textarea #appearance name="appearance"
                placeholder="Äußerliche Erscheinung"
                class="background-white"
                [value]="charCreationData?.appearance ? charCreationData.appearance : ''"></textarea>
    </div>
    <div class="col-12">
      <textarea #characteristics
                name="characteristics"
                placeholder="Charakterliches Verhalten"
                class="background-white"
                [value]="charCreationData?.characteristics ? charCreationData.characteristics : ''"></textarea>
    </div>
  </div>
  <button *ngIf="charCreationData"
          class="btn btn-register"
          (click)="edit( charCreationData.uid, forename, surname, age, job, appearance, characteristics);
          charCreation.toggleCharacterDialogue()">
    Abschließen
  </button>
  <button *ngIf="!charCreationData"
          class="btn btn-register"
          (click)="create(forename, surname, age, job, appearance, characteristics);
          charCreation.toggleCharacterDialogue()">
    Erstellen
  </button>
</section>
