@import "../../vars";

.character-creation {
  width: fit-content;
  padding: 20px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  background-color: white;
  box-shadow: 0 2px 6px rgba(0,0,0,0.3);
  transform-origin: left;
  .row {
    margin-bottom: 20px;
  }
  textarea {
    height: 50px;
    width: calc(100% - 10px);
    margin-bottom: 20px;
    transition-duration: .3s;
    &:focus {
      height: 200px;
    }
  }
}
.error {
  background-color: $accent;
  color: white;
  &::placeholder {
    color: white;
  }
}
.hidden {
  display: none;
}
